extends layout

block content
  h1= title
  a(href="/new") ADD MESSAGE
  h1 ------------------------------------
  each item in messages
    h2= "User:"
    p= item.user
    h2= "Message:"
    p= item.text
    h2= "Date:"
    p= item.added
    h1 ------------------------------------
